.button{
  width: 32%;
  background: #2274A5;
  color: white;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  border: 1px solid #2274A5;
  }

.button:disabled{
  background: #888;
  cursor: not-allowed;
}